@model AppUserVM
@{
    ViewBag.Title = "RegisterNow";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin-top: 100px;
            font-family: 'Open Sans', sans-serif;
            color: #333;
            background-color: #C5CAE9;
        }

        .container {
            width: 100%;
            height: auto;
        }

        .form-container {
            padding-left: 50%;
            width: 380px;
            padding: 50px 30px;
            border-radius: 10px;
            box-shadow: 7px 7px 60px #000;
        }

        h2 {
            text-align: center;
        }

        button {
            float: right;
            margin-bottom: 20px;
        }

        .registration {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="form-container">

            @using (Html.BeginForm("RegisterNow", "Register", FormMethod.Post, new { @class = "form-signin" }))
            {
                if (ViewBag.ZatenVar != null)
                {
                    <h2>@ViewBag.ZatenVar</h2>
                }

                <div class="login-wrap">

                    <label for="username">Username</label>
                    @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "Please enter your username" })

                    <br />

                    <label for="password">Password</label>
                    @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Please enter your password" })

                    <br />

                    <label for="email">Email</label>
                    @Html.TextBoxFor(x => x.AppUser.Email, new { @class = "form-control", placeholder = "Please enter your email" })

                    <br />

                    <label for="firstname">Name</label>
                    @Html.TextBoxFor(x => x.Profile.FirstName, new { @class = "form-control", placeholder = "Please enter your name" })

                    <br />

                    <label for="surname">Surname</label>
                    @Html.TextBoxFor(x => x.Profile.LastName, new { @class = "form-control", placeholder = "Please enter your surname" })

                    <br />

                    Address:<br />
                    @Html.TextAreaFor(x => x.Profile.Address, new { @class = "form-control", @style = "resize:none" })

                    <br />
                    <button class="btn btn-primary">Sign up</button>

                    <div class="registration">

                        @Html.ActionLink("Log in", "Login", "Home")

                    </div>

                </div>
            }

        </div>
    </div>
</body>

</html>


